---
# config file for frigate

apiVersion: v1
kind: ConfigMap
metadata:
  name: frigate-config
  namespace: frigate
  labels:
    name: frigate
data:
  config.yaml: |
    mqtt:
      host: mqtt.home
      port: 1883
      topic_prefix: frigate
      client_id: frigate
      user: mqtt
      password: mqtt
      stats_interval: 60

    detectors:
      ov_0:
        type: openvino
        device: GPU

    cameras:
      # Name of your camera
      front_door:
        ffmpeg:
          inputs:
            - path: rtsp://frigate:frigate123@192.168.3.2:554/h264Preview_01_main
              roles:
                - detect
                - record
        width: 2560
        height: 1920
        fps: 20
