---
# config file for frigate

apiVersion: v1
kind: ConfigMap
metadata:
  name: frigate-config
  namespace: frigate
  labels:
    name: frigate
data:
  config.yaml: |
    mqtt:
      host: mqtt.home
      port: 1883
      user: mqtt
      password: mqtt

    detectors:
      ov_0:
        type: openvino
        device: GPU
    model:
      width: 300
      height: 300
      input_tensor: nhwc
      input_pixel_format: bgr
      path: /openvino-model/ssdlite_mobilenet_v2.xml
      labelmap_path: /openvino-model/coco_91cl_bkgr.txt
    go2rtc:
      webrtc:
        listen: ":8555"
        candidates:
          - 10.2.16.13:8555
          - frigate.home:8555
      ffmpeg:
        volume: -af "volume=10dB"
      streams:
        front_door:
          - rtsp://frigate:frigate123@192.168.3.2:554/
          - ffmpeg:http://192.168.3.2/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=frigate&password=frigate123#audio=opus#audio=volume
        front_door_sub:
          - rtsp://frigate:frigate123@192.168.3.2:554/h264Preview_01_sub
          - ffmpeg:http://192.168.3.2/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user=frigate&password=frigate123#audio=opus#audio=volume
        backyard_north:
          - rtsp://frigate:frigate123@192.168.3.3:554/
          - ffmpeg:http://192.168.3.3/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=frigate&password=frigate123#audio=opus#audio=volume
        backyard_north_sub:
          - rtsp://frigate:frigate123@192.168.3.3:554/h264Preview_01_sub
          - ffmpeg:http://192.168.3.3/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user=frigate&password=frigate123#audio=opus#audio=volume
    cameras:
      front_door:
        review:
          alerts:
            required_zones:
              - front_door__front_deck_and_path
          detections:
            required_zones:
              - front_door__front_yard
        ffmpeg:
          hwaccel_args: preset-intel-qsv-h264
          output_args:
            record: preset-record-generic-audio-aac
          inputs:
            - path: rtsp://127.0.0.1:8554/front_door?video&audio=aac
              input_args: preset-rtsp-restream
              roles:
                - record
            - path: rtsp://127.0.0.1:8554/front_door_sub?video=copy
              input_args: preset-rtsp-restream
              roles:
                - detect
        detect:
          enabled: true
          fps: 5
        motion:
          mask:
            - 0.168,0.464,0.178,0.309,0.356,0.229,0.594,0.182,0.602,0.544
            - 0.637,0.002,0.666,0.561,0.817,0.584,0.997,0.596,0.998,0.004
            - 0.343,0.018,0.345,0.049,0.642,0.051,0.642,0.015
        zones:
          front_door__front_deck_and_path:
            coordinates: 
              0.024,0.907,0.211,0.821,0.266,0.833,0.375,0.735,0.452,0.712,0.491,0.652,0.732,0.681,0.747,0.774,0.667,0.779,0.654,0.935,0.992,0.782,0.997,0.996,0.002,0.996
            loitering_time: 0
          front_door__front_yard:
            coordinates: 
              0.003,0.992,0.021,0.902,0.201,0.811,0.169,0.624,0.168,0.481,0.564,0.578,0.994,0.624,0.998,0.999
            loitering_time: 0
      backyard_north:
        review:
          alerts:
            enabled: False
        ffmpeg:
          hwaccel_args: preset-intel-qsv-h264
          output_args:
            record: preset-record-generic-audio-aac
          inputs:
            - path: rtsp://127.0.0.1:8554/backyard_north?video&audio=aac
              input_args: preset-rtsp-restream
              roles:
                - record
            - path: rtsp://127.0.0.1:8554/backyard_north_sub?video=copy
              input_args: preset-rtsp-restream
              roles:
                - detect
        detect:
          enabled: true
          fps: 5
    record:
      enabled: True
      retain:
        days: 7
        mode: all
      alerts:
        pre_capture: 15
        post_capture: 15
        retain:
          days: 90
          mode: all
      detections:
        pre_capture: 15
        post_capture: 15
        retain:
          days: 90
          mode: all
