---
# config file for frigate

apiVersion: v1
kind: ConfigMap
metadata:
  name: frigate-config
  namespace: frigate
  labels:
    name: frigate
data:
  config.yaml: |
    mqtt:
      host: mqtt.home
      port: 1883
      user: mqtt
      password: mqtt

    detectors:
      ov_0:
        type: openvino
        device: GPU
    model:
      width: 300
      height: 300
      input_tensor: nhwc
      input_pixel_format: bgr
      path: /openvino-model/ssdlite_mobilenet_v2.xml
      labelmap_path: /openvino-model/coco_91cl_bkgr.txt
    go2rtc:
      webrtc:
        listen: ":8555"
        candidates:
          - Frigate_IP:8555
          - stun:8555
      ffmpeg:
        volume: -af "volume=10dB"
      streams:
        front_door:
          - rtsp://frigate:frigate123@192.168.3.2:554/h264Preview_01_main
          - ffmpeg:http://192.168.3.2/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=frigate&password=frigate123#audio=opus#audio=volume
        front_door_sub:
          - rtsp://frigate:frigate123@192.168.3.2:554/h264Preview_01_sub
    cameras:
      front_door:
        ffmpeg:
          output_args:
            record: preset-record-generic-audio-aac
          inputs:
            - path: rtsp://127.0.0.1:8554/front_door?video&audio=aac
              input_args: preset-rtsp-restream
              roles:
                - record
            - path: rtsp://127.0.0.1:8554/front_door_sub?video=copy
              input_args: preset-rtsp-restream
              roles:
                - detect
        detect:
          enabled: true
          fps: 5
    record:
      enabled: True
      retain:
        days: 14
        mode: all
      alerts:
        retain:
          days: 90
          mode: motion
      detections:
        retain:
          days: 90
          mode: motion
