---
# config file for frigate

apiVersion: v1
kind: ConfigMap
metadata:
  name: frigate-config
  namespace: frigate
  labels:
    name: frigate
data:
  config.yaml: |
    mqtt:
      host: mqtt.home
      port: 1883
      user: mqtt
      password: mqtt

    detectors:
      ov_0:
        type: openvino
        device: GPU
    model:
      width: 300
      height: 300
      input_tensor: nhwc
      input_pixel_format: bgr
      path: /openvino-model/ssdlite_mobilenet_v2.xml
      labelmap_path: /openvino-model/coco_91cl_bkgr.txt
    go2rtc:
      streams:
        front_door:
          - rtsp://frigate:frigate123@192.168.3.2:554/h264Preview_01_main
    cameras:
      front_door:
        ffmpeg:
          output_args:
            record: preset-record-generic-audio-aac
          inputs:
            - path: rtsp://frigate:frigate123@192.168.3.2:554/h264Preview_01_main
              roles:
                - record
            - path: rtsp://frigate:frigate123@192.168.3.2:554/h264Preview_01_sub
              roles:
                - detect
        detect:
          enabled: true
          fps: 5
    record:
      enabled: True
      retain:
        days: 14
        mode: all
      alerts:
        retain:
          days: 90
          mode: motion
      detections:
        retain:
          days: 90
          mode: motion
